body, html{
    height: 100%;
    background-color: rgb(12, 199, 162);
  }
  form{
    width: 50%;
    margin:auto;
    padding-top: 80px;
    border-radius: 15px;
  }
  .custom-input{
    border-color: rgb(12, 199, 162);
    border: 2px solid rgb(12, 199, 162);
  }
  .bg{
    background-color: white;
  }
  .btn{
    background-color: rgb(12, 199, 162);
    border-radius: 20px;
    color: white;
    margin-top: 50px;
  }
  
  